* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(228, 196, 173);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.6;
}

header {

    text-align: center;
    padding: 10px 20px;
    font-weight: bold;


}

.navbar {
    text-align: center;

}

.Logo {
    width: 140px;
    height: 140px;
    border-radius: 300%;
}

.logonav {
    width: 70px;
    height: 70px;
    margin: 0px;
    padding: 0px;


}

.d-flex {
    margin: 0px;
    padding: 0px;
}


.navegador2 ul li {
    width: auto;
    list-style: none;
    display: inline-block;
    margin: 5px 5px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px;

}



a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

main {
    margin: auto;
}


h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0px;
    font-size: 25px;
    font-weight: bold;

}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}


p {
    margin: 10px;
    padding: 10px;
    display: auto;
    text-decoration: solid black;
    font-weight: 600;
}



footer {
    margin: 20px;
    padding: 20px;
    border-top: 1px solid black;
    text-align: center;
}

.imgFooter {
    margin: 3px;
    padding: 3px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;

}

iframe {
    display: block;
    margin: auto;
    border-radius: 10px;
}

/* Inicio */

.imgProducto1,
.imgProducto2,
.imgProducto3 {
    margin: 2px;
    padding: 2px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;

}

.row {
    width: auto;
    margin: 1px;
    padding: 1px;

}

/* Productos */

.imgProd {

    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
}


/* Mundocafe */

.imgCafe {

    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
}

/*Nosotros*/

.sectionNosotros {
    width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto auto auto auto;
    grid-template-areas:
        "text text"
        "img1 text1"
        "text2 img2"
        "img3 text3"
        "suc suc";

}

.imgNosotros1 {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
    align-self: center;

}

aside {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    grid-area: aside;
    text-align: center
}


.sucursales {

    margin: 5px;
    padding: 10px;
    grid-area: suc;

}

.text0 {
    width: 90%;
    margin: 5px;
    padding: 10px;
    grid-area: text;
}

.imgNos1 {
    width: 90%;
    display: flex;
    margin: 5px;
    padding: 10px;
    float: left;
    grid-area: img1;
}

.textBox1 {
    grid-area: text1;
    margin: 5px;
    padding: 10px;
}

.textBox1 h3 {
    margin-right: 15px;
    font-weight: bolder;
    text-align: center;
}

.textBox1 p {
    margin-right: 15px;
    text-align: center;
}

.imgNos2 {
    width: 90%;
    display: flex;
    margin: 5px;
    padding: 20px;
    float: right;
    grid-area: img2;

}

.textBox2 {
    grid-area: text2;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.textBox2 h3 {
    margin: 5px;
    padding: 10px;
    font-weight: bolder;
    text-align: center;
}

.textBox2 p {
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.imgNos3 {
    width: 90%;
    display: flex;
    margin: 5px;
    padding: 20px;
    float: right;
    grid-area: img3;
}

.textBox3 {
    grid-area: text3;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.textBox3 h3 {
    margin: 5px;
    padding: 10px;
    font-weight: bolder;
    text-align: center;
}

.textBox3 p {
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.imgNosotros2,
.imgNosotros3,
.imgNosotros4 {
    width: 350px;
    height: 350px;
    margin: auto;
    padding: 0%;
    object-fit: cover;
    border-radius: 30px;


}

/* Formulario Contacto*/

form {
    margin-top: 20px;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;

}

input {
    display: inline-block;
    width: 20%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;


}

textarea {
    display: inline-block;
    width: 40%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.botonF1 {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

/* medias queries */

.container {
    margin: auto;
    display: grid;
    grid-template-rows: auto 3fr auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "headerNos headerNos"
        "aside mainNos"
        "sectionNos sectionNos"
        "footerNos footerNos";
}

.headerNosotros {
    grid-area: headerNos
}

.mainNosotros {
    grid-area: mainNos
}

.footerNosotros {
    grid-area: footerNos;
}

.sectionNosotros {
    grid-area: sectionNos;
}

@media screen and (max-width:768px) {
    .container {
        margin: auto;
        display: grid;
        grid-template-rows: auto 0.5fr 0.5fr auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "headerNos"
            "aside"
            "mainNos"
            "sectionNos"
            "footerNos"
    }
}

@media screen and (max-width:576px) {
    .container {
        margin: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "headerNos"
            "aside"
            "mainNos"
            "sectionNos"
            "footerNos"
    }
}

@media screen and (max-width:768px) {
    .sectionNosotros {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto auto auto auto auto auto auto;
        grid-template-areas:
            "text"
            "text"
            "img1"
            "text1"
            "img2"
            "text2"
            "img3"
            "text3"
            "suc";
    }
}

@media screen and (max-width:576px) {
    .sectionNosotros {
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto auto auto auto auto auto;
        grid-template-areas:
            "text"
            "text"
            "img1"
            "text1"
            "img2"
            "text2"
            "img3"
            "text3";