/* INICIO*/
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@media screen and (max-width: 768px) {
  .carouselGrid1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: "gridTitulo" "carousel1" "textocarousel1";
  }
}
@media screen and (max-width: 576px) {
  .carouselGrid1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: "gridTitulo" "carousel1" "textocarousel1";
  }
}
@media screen and (max-width: 768px) {
  .carouselGrid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "carousel2" "textocarousel2";
  }
}
@media screen and (max-width: 576px) {
  .carouselGrid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "carousel2" "textocarousel2";
  }
}
@media screen and (max-width: 768px) {
  .carouselGrid3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "carousel3" "textocarousel3";
  }
}
@media screen and (max-width: 576px) {
  .carouselGrid3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "carousel3" "textocarousel3";
  }
}
/* NOSOTROS */
@media screen and (max-width: 768px) {
  .container {
    margin: auto;
    display: grid;
    grid-template-rows: auto 0.5fr 0.5fr auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "headerNos" "aside" "mainNos" "sectionNos" "footerNos";
  }
}
@media screen and (max-width: 576px) {
  .container {
    margin: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "headerNos" "aside" "mainNos" "sectionNos" "footerNos";
  }
}
@media screen and (max-width: 768px) {
  .sectionNosotros {
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto auto auto auto auto auto;
    grid-template-areas: "text" "text" "img1" "text1" "img2" "text2" "img3" "text3" "suc";
  }
}
@media screen and (max-width: 576px) {
  .sectionNosotros {
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto auto auto auto auto;
    grid-template-areas: "text" "text" "img1" "text1" "img2" "text2" "img3" "text3";
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(227, 197, 176);
  text-align: center;
  line-height: 1.6;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}
a :hover {
  background-color: white;
  color: black;
  border-radius: 15px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

p {
  text-decoration: solid black;
  font-weight: 200;
  font-family: "Mulish", sans-serif;
  line-height: 2rem;
}

main {
  margin: auto;
}

.imgProd {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
}

form {
  margin-top: 5px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  display: inline-block;
  width: 30%;
  padding: 5px;
  border: 2px solid gray;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 5px;
}

textarea {
  display: inline-block;
  width: 40%;
  padding: 5px;
  border: 2px solid gray;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 5px;
}

.botonF1 {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

footer {
  margin: 20px;
  padding: 20px;
  border-top: 1px solid black;
  text-align: center;
}

.imgFooter {
  margin: 3px;
  padding: 3px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

header {
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.banner {
  background-image: url(../multimedia/imagenes/headerimg/bg32.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px);
}

.bannerContenido {
  z-index: 0;
}

.bannerTexto {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.bannerTexto h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #e2e9eb;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #352925, #e2e9eb, #352925);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 7s linear infinite;
  position: relative;
}
.bannerTexto p {
  font-family: "Montserrat", sans-serif;
  color: #e2e9eb;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

@keyframes shine {
  0% {
    background-position-x: -700%;
  }
  100% {
    background-position-x: 700%;
  }
}
.bannerBoton {
  z-index: 1;
  margin: 10px;
  padding: 10px;
}
.bannerBoton :hover {
  background-color: rgb(241, 224, 212);
  color: black;
  border-radius: 15px;
}

.button1 {
  font-family: "Montserrat", sans-serif;
  color: #f7f7f7;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 5px;
  padding: 5px;
}

.menu .nav-item {
  font-weight: 900;
  text-decoration: solid;
  text-align: center;
  margin: 10px;
}
.menu .nav-item :hover {
  background-color: rgb(241, 224, 212);
  color: black;
  border-radius: 15px;
}
.menu .d-flex {
  margin-left: 70px;
  padding: 0px;
  align-items: end;
}
.menu .Logo {
  width: 140px;
  height: 140px;
  border-radius: 300%;
}
.menu .logonav {
  width: 70px;
  height: 70px;
  margin: 0px;
  padding: 0px;
}

.imgNosotros1 {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
  align-self: center;
}

aside {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  grid-area: aside;
  text-align: center;
}

.sucursales {
  margin: 5px;
  padding: 10px;
  grid-area: suc;
}

.text0 {
  width: 90%;
  margin: 5px;
  padding: 10px;
  grid-area: text;
}

.imgNos1 {
  width: 90%;
  display: flex;
  margin: 5px;
  padding: 10px;
  float: left;
  grid-area: img1;
}

.textBox1 {
  grid-area: text1;
  margin: 5px;
  padding: 10px;
}
.textBox1 h3 {
  margin-right: 15px;
  font-weight: bolder;
  text-align: center;
}
.textBox1 p {
  margin-right: 15px;
  text-align: center;
}

.imgNos2 {
  width: 90%;
  display: flex;
  margin: 5px;
  padding: 20px;
  float: right;
  grid-area: img2;
}

.textBox2 {
  grid-area: text2;
  margin: 5px;
  padding: 10px;
  text-align: center;
}
.textBox2 h3 {
  margin: 5px;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
}
.textBox2 p {
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.imgNos3 {
  width: 90%;
  display: flex;
  margin: 5px;
  padding: 20px;
  float: right;
  grid-area: img3;
}

.textBox3 {
  grid-area: text3;
  margin: 5px;
  padding: 10px;
  text-align: center;
}
.textBox3 h3 {
  margin: 5px;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
}
.textBox3 p {
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.imgNosotros2,
.imgNosotros3,
.imgNosotros4 {
  width: 350px;
  height: 350px;
  margin: auto;
  padding: 0%;
  object-fit: cover;
  border-radius: 30px;
}

.headerNosotros {
  grid-area: headerNos;
}

.mainNosotros {
  grid-area: mainNos;
}

.footerNosotros {
  grid-area: footerNos;
}

.sectionNosotros {
  grid-area: sectionNos;
}

.container {
  display: grid;
  grid-template-rows: auto 2fr auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "headerNos headerNos" "aside mainNos" "sectionNos sectionNos" "footerNos footerNos";
}

.sectionNosotros {
  width: auto;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto auto auto auto;
  grid-template-areas: "text text" "img1 text1" "text2 img2" "img3 text3" "suc suc";
}

.imgCafe {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
}

iframe {
  display: block;
  margin: auto;
  border-radius: 10px;
}

.imgCafe {
  border-radius: 10%;
  width: 400px;
  height: 400px;
}

.row {
  width: auto;
  margin: 1px;
  padding: 1px;
  justify-content: center;
}

.divTexto {
  margin-left: 250px;
  margin-right: 250px;
  justify-self: center;
}
.divTexto h1 {
  font-family: "Playfair Display", serif;
}
.divTexto p {
  font-family: "Mulish", sans-serif;
}

.carouselGrid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "gridTitulo gridTitulo" "carousel1 textocarousel1";
}

.carouselCafe1 {
  grid-area: carousel1;
  width: auto;
  height: auto;
}

.indexTexto1 {
  grid-area: textocarousel1;
  justify-self: center;
  height: auto;
}
.indexTexto1 p {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 2.5rem;
}

.grid1Titulo {
  grid-area: gridTitulo;
  justify-self: center;
}

.carouselGrid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "textocarousel2 carousel2";
}

.carouselAccesorios {
  grid-area: carousel2;
  width: auto;
  height: auto;
}

.indexTexto2 {
  grid-area: textocarousel2;
  justify-self: center;
  height: auto;
}
.indexTexto2 p {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 2.5rem;
}

.carouselGrid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "carousel3 textocarousel3 ";
}

.carouselCafeteras {
  grid-area: carousel3;
  width: auto;
  height: auto;
}

.indexTexto3 {
  grid-area: textocarousel3;
  justify-self: center;
  height: auto;
}
.indexTexto3 p {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 2.5rem;
}

.divImgDestacadas {
  margin: 10px;
  padding: 10px;
}

.boxImgDestacadas {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin: 0px;
  padding: 20px;
}
.boxImgDestacadas a {
  display: block;
  font-size: 0.75rem;
  text-align: center;
}
.boxImgDestacadas img {
  border-radius: 10%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.boxImgDestacadas img:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=estilo.css.map */
