@mixin imagenesIndex {
    border-radius: 10%;
    width: 400px;
    height: 400px;
}

@mixin textosIndex {
    margin-left: 100px;
    margin-right: 100px;
    line-height: 2.5rem;
}

.imgCafe {
    @include imagenesIndex;
}

.row {
    width: auto;
    margin: 1px;
    padding: 1px;
    justify-content: center;
}

.carouselGrid1 {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "divTexto  divTexto"
        "gridTitulo gridTitulo"
        "carousel1 textocarousel1";

    .divTexto {
        margin-left: 250px;
        margin-right: 250px;
        grid-area: divTexto;

        h1 {
            font-family: 'Playfair Display', serif;
        }

        p {
            font-family: 'Mulish', sans-serif;
            line-height: 2.5rem;
        }
    }


    .grid1Titulo {
        grid-area: gridTitulo;
        justify-self: center;
    }

    .carouselCafe1 {
        grid-area: carousel1;
        width: auto;
        height: auto;
    }

    .indexTexto1 {
        grid-area: textocarousel1;
        justify-self: center;
        height: auto;

        p {
            @include textosIndex;
        }

    }

}

.carouselGrid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:

        "textocarousel2 carousel2";

    .carouselAccesorios {
        grid-area: carousel2;
        width: auto;
        height: auto;
    }

    .indexTexto2 {
        grid-area: textocarousel2;
        justify-self: center;
        height: auto;

        p {
            @include textosIndex;
        }
    }
}

.carouselGrid3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:

        "carousel3 textocarousel3 ";

    .carouselCafeteras {
        grid-area: carousel3;
        width: auto;
        height: auto;
    }

    .indexTexto3 {
        grid-area: textocarousel3;
        justify-self: center;
        height: auto;

        p {
            @include textosIndex;
        }
    }

}


.divImgDestacadas {

    margin: 10px;
    padding: 10px;

}

.boxImgDestacadas {

    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 0px;
    padding: 20px;

    a {
        display: block;
        font-size: 0.75rem;
        text-align: center;
    }

    img {
        border-radius: 10%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
        overflow: cover;
    }

    img:hover {
        transform: scale(1.2);
    }


}

/* MEDIAS QUERY */

@media screen and (max-width:768px) {
    .carouselGrid1 {
        flex-direction: column;
        width: auto;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto auto;
        grid-template-areas:
            "divTexto"
            "gridTitulo"
            "carousel1"
            "textocarousel1";

        .divTexto,
        .indexTexto1 {
            margin-left: 0;
            margin-right: 0;
        }

        .imgCafe {
            width: 80vw;

        }
    }

}


@media screen and (max-width:576px) {
    .carouselGrid1 {
        flex-direction: column;
        width: auto;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto auto;
        grid-template-areas:
            "divTexto"
            "gridTitulo"
            "carousel1"
            "textocarousel1";

        .divTexto,
        .indexTexto1 {
            margin-left: 0;
            margin-right: 0;
        }

        .imgCafe {
            width: 80vw;

        }
    }
}

@media screen and (max-width:768px) {
    .carouselGrid2 {
        flex-direction: column;
        width: auto;
        height: auto;
        align-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "carousel2"
            "textocarousel2";
    }
}

@media screen and (max-width:576px) {
    .carouselGrid2 {
        flex-direction: column;
        width: auto;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "carousel2"
            "textocarousel2";
    }
}

@media screen and (max-width:768px) {
    .carouselGrid3 {
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "carousel3"
            "textocarousel3";
    }
}

@media screen and (max-width:576px) {
    .carouselGrid3 {
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "carousel3"
            "textocarousel3";
    }
}

@media screen and (max-width: 768px) {
    .bannerTexto {
        font-size: 1rem;
    }
}