@mixin mundoCafeTextos {
    margin-left: 250px;
    margin-right: 250px;
}

.imgCafe {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
}

iframe {
    display: block;
    margin: auto;
    border-radius: 10px;
}

.textoMundo1,
.tiposCafe1,
.tiposCafe2,
.tiposCafe3 {
    @include mundoCafeTextos;
    margin-top: 5%;
    margin-bottom: 5%;

    h1,
    h2,
    h3 {
        font-family: 'Playfair Display', serif;
    }

    p {
        font-family: 'Mulish', sans-serif;
        line-height: 2.5rem;
        margin-top: 5%;
        margin-bottom: 5%;
    }

}

@media only screen and (max-width: 768px) {

    .textoMundo1,
    .tiposCafe1,
    .tiposCafe2,
    .tiposCafe3 {
        flex-direction: column;
        margin: 5%;
        padding: 5%;

        p {
            width: 100%;
            height: 100%;
            text-align: justify;
        }

        .imgCafe {

            height: auto;
            object-fit: cover;
            max-width: 100%
        }
    }

}

@media only screen and (max-width: 576px) {

    .textoMundo1,
    .tiposCafe1,
    .tiposCafe2,
    .tiposCafe3 {
        flex-direction: column;
        margin: 5%;
        padding: 5%;

        p {
            width: 100%;
            height: 100%;
            text-align: justify;
        }
    }
}