@mixin textosNos {
    margin-left: 100px;
    margin-right: 100px;
    line-height: 2.5rem;
    text-align: center;
}

@mixin h3Nos {
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

.portada {
    display: flex;
}

aside {
    width: 100%;
    padding: 10px;
    margin: 10px 0px 0px 100px;
    display: flex;
    flex-direction: column;
    grid-area: aside;
    text-align: center;

    p {
        text-align: center;
        font-weight: bold;
        line-height: 2.5rem;
        height: auto;
    }

    .imgNosotros1 {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 20px;
        align-self: center;
    }
}

.textoNos {
    @include textosNos;
    height: auto;
}

.text0 {
    @include textosNos;
    grid-area: text;

}

.imgNos1 {

    grid-area: img1;
}

.textBox1 {
    grid-area: text1;
    margin-left: 100px;

    @include textosNos;

    h3 {
        @include h3Nos;

    }
}

.imgNos2 {

    margin-right: 100px;
    grid-area: img2;
}

.textBox2 {

    grid-area: text2;
    @include textosNos;

    h3 {
        @include h3Nos;
    }
}

.imgNos3 {
    margin-left: 100px;
    grid-area: img3;
}

.textBox3 {

    grid-area: text3;
    @include textosNos;

    h3 {
        @include h3Nos;

    }
}


.imgNosotros2,
.imgNosotros3,
.imgNosotros4 {
    margin: 20px;
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.sucursales {
    margin: 5px;
    padding: 10px;
    grid-area: suc;
    display: flex;

    .mapa {
        flex-direction: column;
        padding: 20px;
    }

    .contacto {
        flex-direction: column;
        padding: 20px;
    }
}

.sectionNosotros {
    width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto auto auto auto;
    grid-template-areas:
        "text text"
        "img1 text1"
        "text2 img2"
        "img3 text3"
        "suc suc";

}

/* MEDIAS QUERYS */

@media screen and (max-width:768px) {

    .portada {
        display: block;

        aside {
            margin: auto;
            padding: auto;
        }

        .imgNosotros2 {
            max-width: 100%;
        }
    }

}

@media screen and (max-width:768px) {
    .sectionNosotros {
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas:
            "text"
            "text"
            "img1"
            "text1"
            "img2"
            "text2"
            "img3"
            "text3"
            "suc";

        .textBox1,
        .textBox2m .textBox3 {
            max-width: 100%;
            text-align: center;

        }

        .imgNos1,
        .imgNos2,
        .imgNos3 {
            max-width: 100%;
            justify-self: center;
        }

        .imgNosotros2,
        .imgNosotros3,
        .imgNosotros4 {
            width: 300px;
            height: 300px;
            object-fit: cover;

            justify-self: center;
            margin: 0px;
            padding: 0px;

        }
    }
}

@media screen and (max-width:576px) {
    .sectionNosotros {
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto auto auto auto auto auto;
        grid-template-areas:
            "text"
            "text"
            "img1"
            "text1"
            "img2"
            "text2"
            "img3"
            "text3"
            "suc";

        img,
        p,
        h2,
        h3 {
            max-width: 100%;
        }
    }
}

@media screen and (max-width:768px) {
    .sucursales {
        display: block;
        max-width: 100%;
    }
}