* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4c4ad;
    text-align: center;
    line-height: 1.6;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Playfair Display', serif;
}

p {
    margin: 10px;
    padding: 10px;
    display: auto;
    text-decoration: solid black;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
}

main {
    margin: auto;
}

.navegador2 ul li {
    width: auto;
    list-style: none;
    display: inline-block;
    margin: 5px 5px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px;
}